.tablaPaginas{
    text-align: center;
    background-color: #FFCA03;
    width: 80%;
}
.sectionTabla{
    display: grid;
    place-items: center;
}
Body {
    background-color: #FFF323;
}
h1, h2, h3{
    color: #F90716;
    font-family: "Lugrasimo", cursive;
    text-align: center;
}
h4, h5, h6{
    color: #FF5403;
    font-family: "Lugrasimo", cursive;
}
hr{
    border-color: #FFCA03;
}
header{
    text-align: center;
}
img{
    width: 350px;
    height: 350px;
}

.tablaPersona{
    text-align: center;
    width: 100%;
    display: grid;
    place-items: center;
}
.tablaJourneyMap{
    text-align: center;
    width: 100%;
    display: grid;
    place-items: center;
}
.imgMockups{
    img{
        width: 450px;
        height: 350px;
    }
}
.imgWireframes{
    img{
        width: 450px;
        height: 350px;
    }
}
.imgArquitectura{

    text-align: center;

    img{
        width: 500px;
        height: 350px;
    }
}